<div class="table-responsive sortable-table-widget {{customTableClass}}">
    <div class="header">
        <!-- ko if:widgetHeadline!="" --><h4>{{ widgetHeadline | translate }}</h4><!-- /ko -->

        <!-- ko if: exportable --> <div class="csv-export" data-bind="click:exportAsCsv">csv export</div> <!-- /ko -->

        <!-- ko if:searchable -->
        <div class="input-group search">
            <input class="form-control" placeholder="Suchbegriff" type="text" data-bind="textInput:searchTerm">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
        <!-- /ko -->

    </div>


    <!-- ko if:visibleTabledata().length > 0 -->
    <table class="table sortable">
        <thead>
        <tr>
            <!-- ko foreach: $component.columnFields -->
            <th data-bind="click: function(){ $parent.sortBy($data);} , css: $parent.calculateColumnHeaderCssClass($data)">
                {{ $data.label | translate }}
            </th>
            <!-- /ko -->

            <!-- ko if:$component.rowOptions.length > 1 -->
            <th>
                &nbsp
            </th>
            <!-- /ko -->
        </tr>
        </thead>
        <tbody data-bind="foreach: { data: visibleTabledata, as: 'rowData' }">

            <tr  data-bind="css: $component.calculateTRcssClass(rowData,$index), click:$component.handleRowClick ">
                <!-- ko foreach: $component.columnFields -->
                <td data-bind="css: $component.calculateTDcssClass($data, rowData) ">
                    {{{ $component._getFormatedFieldValue( $data, rowData ) }}}
                </td>
                <!-- /ko -->

                <!-- ko if:$component.rowOptions.length > 0 -->
                <td class="options">
                    <!-- ko foreach: $component.rowOptions -->
                    <button data-bind="click: function(){ $data.callback($parent)}" title="{{$data.title}}" type="button" class="btn btn-default btn-xs">
                        <span class="{{$data.icon}}"></span>
                    </button>
                    <!-- /ko -->
                </td>
                <!-- /ko -->

                <!-- ko if: $component.rowOptions.length > 1 -->
                <td>&nbsp;</td>
                <!-- /ko -->
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <!-- /ko -->

    <!-- ko if:visibleTabledata().length == 0 -->
    <p class="no_tabledata_msg">{{ no_tabledata_msg | translate }}</p>
    <!-- /ko -->
</div>