<div class="table-responsive sortable-table-widget {{customTableClass}}">
    <div class="header clearfix">
        <!-- ko if:headline!="" --><h4>{{ headline | translate }}</h4><!-- /ko -->

        <!-- ko if: hasData -->

            <!-- ko if:searchable -->
            <div class="input-group search pull-right">
                <input class="form-control" placeholder="{{ 'sortable-table.search' | translate }}" type="text" data-bind="textInput:searchTerm">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
            <!-- /ko -->
        <!-- /ko -->

            <div class="options pull-right">
                <!-- ko foreach: $component.headerOptions -->
                <button data-bind="click: function(){ $data.callback($parent)}" title="{{$data.title}}" type="button" class="btn btn-default btn-xs">
                    {{ $data.title | translate }}
                    <span class="{{$data.icon}}"></span>
                </button>
                <!-- /ko -->

                <!-- ko if: exportable && hasData -->
                <button data-bind="click: exportAsCsv" title="CSV Export" type="button" class="btn btn-default btn-xs">
                    {{ "CSV Export" | translate }}
                    <span class="fa fa-download"></span>
                </button>
                <!-- /ko -->
            </div>
    </div>


    <!-- ko if:visibleTabledata().length > 0 -->
    <table class="table sortable">
        <thead>
        <tr>
            <!-- ko foreach: $component.columnFields -->
            <th data-bind="click: function(){ $parent.sortBy($data);} , css: $parent.calculateColumnHeaderCssClass($data)">
                {{{ $data.label | translate }}}
            </th>
            <!-- /ko -->

            <!-- ko if:$component.rowOptions.length > 1 -->
            <th>
                &nbsp
            </th>
            <!-- /ko -->
        </tr>
        </thead>
        <tbody data-bind="foreach: { data: visibleTabledata, as: 'rowData' }">

        <tr  data-bind="css: $component.calculateTRcssClass(rowData,$index), click:$component.handleRowClick ">
            <!-- ko foreach: $component.columnFields -->
            <td data-bind="css: $component.calculateTDcssClass($data, rowData) ">
                {{{ $component._getFormatedFieldValue( $data, rowData ) }}}
            </td>
            <!-- /ko -->

            <!-- ko if:$component.rowOptions.length > 1 -->
            <td class="options">
                <div class="holder">
                    <!-- ko foreach: $component.rowOptions -->
                    <button data-bind="click: function(data,event){ $data.callback($parent, event)}" title="{{$data.title}}" type="button" class="btn btn-default btn-xs">
                        <span class="{{$data.icon}}"></span>
                    </button>
                    <!-- /ko -->
                </div>
            </td>
            <!-- /ko -->
        </tr>
        </tbody>
        <tfoot>
            <!-- ko if: pagination === true -->
            <tr class="pagination">
                <td  colspan="{{$component.columnFields.length}}">
                    <button class="prev" data-bind="click: $component.prevPage" class="pagination-button" >&lt;</button>

                    <span class="pages">
                        {{ currentPageIdx() + 1 }} / {{ numPages }}
                        &nbsp;
                        {{ rows_per_page_msg | translate }}
                        <select data-bind="
                            options: rowsPerPageSelection,
                            value: rowsPerPage
                           "></select>
                    </span>

                    <button class="next" data-bind="click: $component.nextPage" class="pagination-button" >&gt;</button>
                </td>

            </tr>
            <!-- /ko -->
        </tfoot>
    </table>
    <!-- /ko -->

    <!-- ko if:!hasData() -->
    <p class="no_tabledata_msg">{{ no_tabledata_msg | translate }}</p>
    <!-- /ko -->
</div>